$default-text-color: #060b35;
$secondary-color: #616070;
$blue-color: #00acdc;
$nav-color: #060b35;
$button-text-color: rgba(255, 255, 255, 1);
$border-color: rgba(243, 243, 243, 1);
$card-title: #34568b;
